<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jpp.dao.mdb.mapper.Hotel_Channel_PublishMapper">

    <sql id="Base_Column_List">
        ID,Hotel_ID,Hotel_Code,Channel_ID,Channel_Code,Room_Type_ID,Room_Type_Code,Rate_Plan_ID,Rate_Plan_Code,
        Active_Status,Record_Status,Create_DateTime,Update_DateTime,Is_Active,Is_SelectRoom
    </sql>
    <sql id="Column_List">
        ID,Hotel_ID,Hotel_Code,Channel_ID,Channel_Code,Room_Type_ID,Room_Type_Code,Rate_Plan_ID,Rate_Plan_Code
    </sql>
    <select id="getPublishCount" resultType="java.lang.Integer">
        SELECT
        COUNT(1)
        FROM hotel_channel_publish
        where 1=1
        <if test="pmsCode != null and pmsCode != ''">
            AND Pms_Code = #{pmsCode,mode=IN,jdbcType=VARCHAR}
        </if>
    </select>


    <select id="getHotelChannelPublishListByPage" resultType="cn.jpp.entity.Hotel_Channel_PublishEntity">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM hotel_channel_publish
        where 1=1
        <if test="hotelId != null and hotelId >0">
            AND Hotel_Id = #{hotelId,mode=IN,jdbcType=BIGINT}
        </if>
        ORDER by ID DESC,Update_DateTime DESC
        <if test="pageStart!=null">
            LIMIT #{pageStart},#{pageSize}
        </if>
    </select>

    <select id="getHotelChannelPublishListByHotelIdList" resultType="cn.jpp.entity.Hotel_Channel_PublishEntity">
        SELECT
        <include refid="Column_List"></include>
        FROM hotel_channel_publish
        <where>
            <if test="channelID != null and channelID >0">
                AND Channel_ID = #{channelID,mode=IN,jdbcType=BIGINT}
            </if>
            AND Hotel_ID IN
            <foreach collection="list" item="item" index="index" open="(" close=")" separator="," >
                #{item,mode=IN,jdbcType=BIGINT}
            </foreach>
            AND Record_Status = 1 AND Active_Status=1
        </where>
    </select>

</mapper>